/*
 _____                         ___
(  _  )                       (  _`\
| (_) | _ __  _   _  _ _      | | ) |   __    ___ (_)   __    ___    ___
|  _  |( '__)( ) ( )( '_`\    | | | ) /'__`\/',__)| | /'_ `\/' _ `\/',__)
| | | || |   | (_) || (_) )   | |_) |(  ___/\__, \| |( (_) || ( ) |\__, \
(_) (_)(_)   `\___/'| ,__/'   (____/'`\____)(____/(_)`\__  |(_) (_)(____/
                    | |                              ( )_) |
                    (_)                               \___/'
Stylesheet for Sassalina.com
Date: April 2014
Author: Arup Sen
http://arupdesigns.co.uk
arup@arupdesigns.co.uk
Layout: Alyson Mowat
alysonmowat@gmail.com
css to zero courtesy of Eric Meyer with adjustments
No license. Use what you like.
Happy to receive feedback :)
*/

/* css to zero */
html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	text-align: left;
	vertical-align: baseline;
}
a img, :link img, :visited img {border: 0;}
table {
	border-collapse: collapse;
	border-spacing: 0;}
ol, ul {list-style: none;}
q:before, q:after,
blockquote:before, blockquote:after {
content: "";}

/* COLOUR PALETTE

#C9C9C9 - very pale grey
#B0B0B0 - medium grey
#666666 - darker grey
#B31E00 - red
#006276 - blue

*/

/* BG IMAGE PATH url('../images/my_image.gif') */
/*the main global rules*/
body{font-family:'Lato', Arial, sans-serif;font-size:100.01%;position:relative;margin:0 auto;background: url('../images/tile_bg.jpg') #FFFFFF;}
div#wrap{background-color: #FFF;}


/*grouped selectors - good for position:absolute and relative*/


/*main heading and sub heading*/
.contact-bar {
  background: #cae9eb;
  min-height: 28px;
  position: relative;
  width: 102.7%;
  left: -1.3%;
}
.contact-bar a {
  text-transform: uppercase;
  font-size: 14px;
  color: #666;
  padding: 3px 5px;
}
.contact-bar a:hover {
  text-decoration: none;
}
.contact-bar .social-icons a {
  font-size:20px;
}
.contact-bar .social-icons {
  display: inline;
  float: right;
}
.navbar-form {
  display: inline;
  margin-left: 54%;
}
@media (min-width: 768px) {
  .navbar-left {
  float: none !important;
  }
}
h1 {
  font-size:0;
}
#contents h1 {
  font-size: 24px;
  text-align: center;
  padding-bottom: 30px;
}
.logo img {
  margin: 0 auto;
}


/*content area*/
div#contents{}
#contents p{
  font-size: 12px;
  color: #666;
}
hr {
  width: 50%;
  border-top: 1px solid #999;
}

#contents ul, #contents h2{}
#contents h2 {
  text-align: center;
  color: #999;
  font-size: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#contents h2{}
#contents li{}
#contents a{}
#contents a:hover{}


/*main navbar*/
ul#navbar{
  width: 50%;
  margin: 0 auto;
}
.navbar-default {
  background-color: #FFF;
  border-color: #FFF;
}
ul#navbar li{}

div#clear {clear:left;}
ul#navbar li a{
  text-decoration:none;
  color: #666;
  text-transform: uppercase;
  font-size: 14px;
}
/* home page */
.carousel {
  max-width: 960px;
}
.carousel-control {
  top: 46.7%;
}
.carousel-control.left, .carousel-control.right {
  background-image: none;
}
.carousel-control.left {
  padding-left: 1%;
  text-align: left;
}
.carousel-control.right {
  padding-right: 1%;
  text-align: right;
}
/* about page */
#about #contents p {
  max-width: 260px;
  padding-bottom: 1em;
}
.about-pic img {
  float: right;
}
/* design page */
.testimonial-show h4 {
  cursor: pointer;
}
.show-hide {
  display: none;
}

/* thumbnail pages */
.thumbnail span {
  position: absolute;
  bottom: 20px;
  color: #999;
  background: #FFF;
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 100%;
}
.thumbnail {
  border: none;
}

/* detail pages */
.details p {
  text-align: center;
}
.back-button {
  text-transform: uppercase;
  font-size: 11px;
  color: #999;
}
.testimonial {
  width:50%;
  margin: 50px auto 0;
}
.testimonial h4, .testimonial p {
  text-align: center;
}
.testimonial p {
  padding: 0.5em 0;
}
.testimonial p:last-child {
font-style: italic;
}
/*footer */
#footer{
  margin-top: 40px;
  height: 160px;
  position: relative;
  margin-bottom: 20px;
}
#footer img {
  max-width: 65px;
  margin: 0 auto;
}
#footer hr {
  width:37%;
  position: absolute;
  top: 10px;
}
#footer hr.left-line {
  left:8.4%;
}
#footer hr.right-line {
  right:7.4%;
  width:38%;
}
#footer ul {
  width: 70%;
  margin-top: 25px;
}
#nav-contact {
  left: 12px;
}
#footer .social-icons {
  text-align: center;
  margin: -15px 0 50px;
}
#footer .social-icons a {
  padding: 0 5px;
  color: #999;
  font-size: 20px;
}
/*all the Safari stuff together*/
@media screen and (-webkit-min-device-pixel-ratio:0){
/*global rules*/
  div#wrap{}/*safari rule*/

/*navbar*/
  ul#navbar{}
  ul#navbar li {}



/*content area*/
  div#contents{}
  div#contents p{}
}
