/*
 _____                         ___
(  _  )                       (  _`\
| (_) | _ __  _   _  _ _      | | ) |   __    ___ (_)   __    ___    ___
|  _  |( '__)( ) ( )( '_`\    | | | ) /'__`\/',__)| | /'_ `\/' _ `\/',__)
| | | || |   | (_) || (_) )   | |_) |(  ___/\__, \| |( (_) || ( ) |\__, \
(_) (_)(_)   `\___/'| ,__/'   (____/'`\____)(____/(_)`\__  |(_) (_)(____/
                    | |                              ( )_) |
                    (_)                               \___/'
Stylesheet for Sassalina.com
Date: April 2014
Author: Arup Sen
http://arupdesigns.co.uk
arup@arupdesigns.co.uk
Layout: Alyson Mowat
alysonmowat@gmail.com
css to zero courtesy of Eric Meyer with adjustments
No license. Use what you like.
Happy to receive feedback :)
*/

/* css to zero */
html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	text-align: left;
	vertical-align: baseline;
}
a img, :link img, :visited img {border: 0;}
table {
	border-collapse: collapse;
	border-spacing: 0;}
ol, ul {list-style: none;}
q:before, q:after,
blockquote:before, blockquote:after {
content: "";}

/* COLOUR PALETTE

#C9C9C9 - very pale grey
#B0B0B0 - medium grey
#666666 - darker grey
#B31E00 - red
#006276 - blue

*/

/* BG IMAGE PATH url('../images/my_image.gif') */
/*the main global rules*/
body{font-family:'Lato', Arial, sans-serif;font-size:100.01%;position:relative;margin:0 auto;background: url('../images/tile_bg.jpg') #FFFFFF;}
div#wrap{background-color: #FFF;}


/*grouped selectors - good for position:absolute and relative*/


/*main heading and sub heading*/
.contact-bar {
  background: #cae9eb;
  min-height: 28px;
  position: relative;
  width: 102.7%;
  left: -1.3%;
  margin-bottom: 10px;
}
.contact-bar a {
  text-transform: uppercase;
  font-size: 16px;
  color: #666;
  padding: 3px 5px;
  font-weight: 300;
  letter-spacing: 1.3px;
}
.contact-bar a:hover {
  text-decoration: none;
}
.contact-bar .social-icons a {
  font-size:20px;
  color: #999;
}
.contact-bar .social-icons {
  display: inline;
  float: right;
  margin-top: -21px;
}
.navbar-form {
  display: inline;
  margin-left: 61%;
  font-weight: 300;
  margin-top: -21px;
}
.navbar-form  .btn {
  font-weight: 300;
  color:#666;
  line-height: 10px;
  margin-top:1px;
}
.form-control {
  height: 24px;
}
a.contact-link {
  font-size: 14px;
  position: relative;
  top: 1px;
}
h1 {
  font-size:0;
}
#contents h1 {
  font-size: 24px;
  text-align: center;
  padding-bottom: 30px;
}
#contents h4 {
  font-weight: 300;
  font-size:16px;
  letter-spacing:1px;
  margin-bottom: 1em;
}
.logo img {
  margin: 0 auto;
}


/*content area*/
div#contents{}
#contents p{
  font-size: 13px;
  color: #666;
  font-weight: 300;
  letter-spacing:0.7px;
  line-height:1.5em;
  margin-bottom:1em;
}
hr {
  width: 50%;
  border-top: 1px solid #999;
}

#contents ul, #contents h2{}
#contents h2 {
  text-align: center;
  color: #ccc;
  font-size: 26px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 300;
}
#contents h2{}
#contents li{}
#contents a{}
#contents a:hover{}


/*main navbar*/
ul#navbar{
  width: 50%;
  margin: 0 auto;
}
.navbar-default {
  background-color: #FFF;
  border-color: #FFF;
}
ul#navbar li{}

div#clear {clear:left;}
ul#navbar li a{
  text-decoration:none;
  color: #666;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.3px;
}
ul#navbar ul li a {
  font-size: 12px;
}
ul#navbar ul li a:hover, ul#navbar li a:hover {
  background: none;
  color: #999;
}
.nav>li>a:hover {
  background: none;
  color: #999;
}
li.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  margin-top: -5px;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
 background-color: #fff;
 border-color: #fff;
}
/* home page */
.carousel {
  max-width: 960px;
}
.carousel-control {
  top: 46.7%;
}
.carousel-control.left, .carousel-control.right {
  background-image: none;
}
.carousel-control.left {
  padding-left: 1%;
  text-align: left;
}
.carousel-control.right {
  padding-right: 1%;
  text-align: right;
}
/* about page */
#about #contents p {
  max-width: 370px;
  padding-bottom: 1em;
  margin-top: -4px;
}
.about-pic img {
  float: right;
}
.row.logos img {
  width: 30%;
  margin: 40px auto 0;
}
.slf img {
  position: relative;
  left: 185px;
  top: 40px;
}
.leopard img {
  position: relative;
  right: 180px;
  top: 18px;
}
/* design page */
#design .row {
  margin-left: 25px;
  margin-right: 25px;
}
.testimonial-show h4 {
  cursor: pointer;
  font-size: 13px !important;
  color: #666;
}
.show-hide {
  display: none;
}
#design #contents hr {
  width:93%;
}
.show-hide p {
  font-style: italic;
  margin-right: 40px;
}
p.before-text, p.after-text {
position: absolute;
right: 60px;
}
p.before-text {
  bottom: 5px;
}
.testimonial-show {
position: relative;
top: -40px;
}

/* thumbnail pages */
.thumbnail span {
  position: absolute;
  bottom: 20px;
  color: #999;
  background: #FFF;
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
}
.thumbnail {
  border: none;
}

/* detail pages */
#contents .details h2 {
  font-size: 16px;
  margin-top:10px;
}
.details p {
  text-align: center;
  font-size:13px !important;
  font-weight:300;
  letter-spacing:0.7px;
  line-height:1.5em;
}
.back-button {
  text-transform: uppercase;
  font-size: 11px;
  color: #999;
}
.testimonial {
  width:50%;
  margin: 50px auto 0;
  font-weight:300;
  padding-left:30px;
  letter-spacing:0.7px;
  line-height:1.3em;
}
.testimonial h4, .testimonial p {
  text-align: center;
}
.testimonial p {
  padding: 0.5em 0;
}
.testimonial p:last-child {
font-style: italic;
}
/*footer */
#footer{
  margin-top: 40px;
  height: 160px;
  position: relative;
  margin-bottom: 20px;
}
#footer img {
  max-width: 65px;
  margin: 0 auto;
}
#footer hr {
  width:37%;
  position: absolute;
  top: 10px;
}
#footer hr.left-line {
  left:8.4%;
}
#footer hr.right-line {
  right:7.4%;
  width:38%;
}
#footer ul {
  width: 70%;
  margin-top: 25px;
}
#nav-contact {
  left: 12px;
}
#footer .social-icons {
  text-align: center;
  margin: -15px 0 50px;
}
#footer .social-icons a {
  padding: 0 5px;
  color: #999;
  font-size: 20px;
}
/* small screens */
@media (max-width: 767px) {
  .navbar-form .form-group {
    width: 70%;
  }
  #footer hr.left-line {
     left: 0; 
  }
  #footer hr.right-line {
    right: 0;
  }
  #footer ul {
    width: 100%;
  }
  #footer ul#navbar {
    background: #fff;
  }
  #footer ul#navbar li a {
    float: left;
    padding: 0 2px;
    font-size: 7px;
  }
  li#nav-terms {
    position: relative;
    left: 5%;
  }
  .nav-justified>li {
    float: left;
  }
  .nav>li>a {
    padding: 10px 6px;
  }
  ul#navbar {
    width: auto;
    background: #cae9eb;
  }
  ul#navbar li a {
    font-size: 14px;
  }
  .contact-bar .social-icons {
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  div#mc_embed_signup {
    width: 86%;
    padding-left: 3px;
  }
  .navbar-form .btn {
    position: absolute;
    left: 181px;
    top: 43px;
  }
  .slf img {
    top: 0;
    left: 0;
  }
  .leopard img {
    top: 0;
    right: 0;
  }
  .testimonial-show {
    top: 30px;
  }
  p.before-text, p.after-text {
    right: 0;
  }
  .about-pic img {
    float: none;
    padding-bottom: 1em;
  }
  #design .row {
    margin-left: 0;
    margin-right: 0;
  }
  #design .col-md-8 {
    padding-left: 0;
    padding-right: 0;
  }
  .back-button {
    position: relative;
    top: -60px;
    display: block;
  }
  #contents h2 {
    margin-top: 10px;
  }
}
/* iPad landscape rules */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  .navbar-left {
    margin-left: 48% !important;
  }
  .navbar-form .btn {
    margin-top: 0;
  }
  .testimonial-show h4 {
    margin-top: 2em;
  }
  #footer .social-icons {
    margin: -25px 0 50px !important;
  }
}
/*all the Safari stuff together*/
@media screen and (-webkit-min-device-pixel-ratio:0){
/*global rules*/
  div#wrap{}/*safari rule*/

/*navbar*/
  ul#navbar{}
  ul#navbar li {}



/*content area*/
  div#contents{}
  div#contents p{}
}
